{% extends "base.html" %}
{% load static %}
{% block title %}Список Пользователей{% endblock %}
{% block content %}
    <h2 class="text-info">Пользователи</h2>
    {% include "partial/simple_search.html" %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for user in users %}
                <li class="list-group-item"><a href="{% url 'accounts:profile_view' user.pk %}">{{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "partial/pagination.html" %}
{% endblock %}

