{% extends 'base.html' %}

{% block content %}
    <H2>Заказы</H2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адресс</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for i in order %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}